@import '@/styles/themes.css';

.main-content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.5rem;
  background-color: var(--background-secondary);
  transition: background-color 0.2s ease-in-out;
}

.content-container {
  max-width: 1280px;
  margin: 0 auto;
}

.search-container {
  margin-bottom: 1.5rem;
}